/*page-wide*/
body {
    background-color:#167A6F;
    color: black;
    padding: 5px;
    font-family: "Playfair Display", serif;
    text-align: center;
  }
 /*header*/
 header {
    text-align: center;
 }
/*paragraph content*/
.text-container {
    background-color: white;
    color: #497FA5;
    padding: 5px;
    line-height:2.5em;

.sectionTitle { 
    font-family: "Playwrite US Trad", cursive;
    text-align: center;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Footer*/
    Footer {
    background-color: #c3c3c3;
    }